<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper       
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"       
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.zinglabs.apps.apptest">

   <insert id="app_insert" parameterType="java.util.Map">
       insert into `app_test` (`id`,`name`,`money`,`dateTime`,`createTime`) values(#{id},#{name},#{money},#{dateTime},now())
   </insert>
   <delete id="app_delete" parameterType="java.util.Map">
       delete from `app_test` where id=#{id}
   </delete>
   <update id="app_update" parameterType="java.util.Map">
       update `app_test` set `name`=#{name},`money`=#{money}  where `id`=#{id}
   </update>
   <select id="app_select" parameterType="java.util.Map"  resultType="java.util.Map">
      select * from `app_test`
   </select>
   <select id="app_selectOne" parameterType="java.util.Map"  resultType="java.lang.Integer">
      select * from `app_test` where name=#{name}
   </select>
   <update id="createTalbe">
		CREATE TABLE IF NOT EXISTS `app_test` (
		  `id` int(11) NOT NULL AUTO_INCREMENT,
		  `name` varchar(255) DEFAULT NULL,
		  `money` double(255,0) DEFAULT NULL,
		  `dateTime` datetime DEFAULT NULL,
		  `createTime` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
		  PRIMARY KEY (`id`)
		) ENGINE=InnoDB  DEFAULT CHARSET=gbk;
   </update>
</mapper>