<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<properties resource="com/it/conf/jdbc.properties" />

	<!--数据源配置 -->
	<environments default="dbTest">
		<!-- 主数据库 -->
		<environment id="dbTest">
			<!--事务类型, JDBC（jdbc管理事务）、MANAGED(容器管理事务) -->
			<transactionManager type="JDBC" />
			<!--数据源类型, UNPOOLED(简单的数据源)、POOLED(连接池数据源)、JNDI(容器数据源) -->
			<dataSource type="POOLED">
				<property name="driver" value="${driverClassName}" />  
		        <property name="url" value="${url}" />  
		        <property name="username" value="${username}" />  
		        <property name="password" value="${password}" />  
				<property name="poolMaximumActiveConnections"
					value="120" />
				<property name="poolMaximumIdleConnections" value="30" />
			</dataSource>
		</environment>
	</environments>

</configuration>