<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper       
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"       
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="tb_goods">

	
	
	<insert id="addGoods" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tb_goods` 
			(`goodTitle`, `goodImg`, `goodDesc`,`goodPriceLine`, `goodStatus`,`categoryName`,`generateTime`) 
		VALUES (#{goodTitle}, #{goodImg}, #{goodDesc}, #{goodPriceLine}, #{goodStatus} , #{categoryName},now());
	</insert>
	
	<insert id="addProp" parameterType="java.util.Map">
		INSERT INTO `tb_goodProp` ( `goodId`, `goodsProp`, `goodsPrice`, `goodsCount`, `reCount`, `generateTime`, `createTime`) 
					VALUES ( #{goodId}, #{goodsProp}, #{goodsPrice}, #{goodsCount}, #{reCount}, now(), now());
	</insert>
	
	<update id="updateGood" parameterType="java.util.Map">
		UPDATE `tb_goods` SET  
			`goodTitle` = #{goodTitle} , 
			`goodImg` = #{goodImg} , 
			`goodDesc` = #{goodDesc} , 
			`goodStatus` = #{goodStatus} , 
			`categoryId` = #{categoryId} 
			
			WHERE  id = #{id}
	
	</update>
	
	<delete id="delGood" parameterType="java.util.Map">
		delete from `tb_goods` where id = #{id} 
	</delete>



	<select id="getAllGoodType" resultType="java.util.Map"> 
		select * from `tb_goodType`
	</select>


	
	<select id="getAllGoodProp" resultType="java.util.Map" parameterType="java.util.Map"> 
		select * from `tb_goodProp` 
		 where 1 = 1 
		 <if test="dataId != null and dataId !=''">
		 	and goodId = #{dataId}
		 </if>
	</select>
	
	
	<!--  查询属性集合 参数 idstr ('1','2') -->
	<select id="getAllGoodPropByIdStr" resultType="java.util.Map" parameterType="java.util.Map"> 
		select * from `tb_goodProp`  where goodId in (${idStr}) 
	</select>
	
	<!-- 验证商品库存数量 -->
	<select id="validateCount" resultType="java.util.Map" parameterType="java.util.Map">
		select reCount from tb_goodProp  where  id = #{propId} and goodId = #{goodId}
	</select>
	
	<!-- 加入购物车，和提交订单时，更改数量，取消订单 增加数量 -->
	<update id="updatePropCount" parameterType="java.util.Map">
		update tb_goodProp set
			<if test="addReCount != null and addReCount != ''">
				reCount = reCount + #{addReCount}
			</if>
			<if test="subReCount != null and subReCount != ''">
				reCount = reCount - #{subReCount}
			</if>
		where id = #{propId} and goodId = #{goodId}
	</update>
	
	
	

</mapper>