<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="shortMessageSqlSession" class="com.zinglabs.base.core.springSupport.DbidSqlsession" singleton="false">
		<property name="namespance" value="com.zinglabs.apps.shortMessage" ></property>
		<property name="dbid" value="ZKM"></property>
	</bean>
	
	<bean id="shortMessageService" name="shortMessageService" 
			class="com.zinglabs.apps.shortMessage.service.ShortMessageService"></bean>
</beans>