<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper       
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"       
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.zinglabs.apps.mybaits_xml_def.ZQC">

	<select id="shujuchaxunyuyinpingfenchaxun_select" resultType="java.util.HashMap" parameterType="map">
			SELECT
					a.file_name,
					a.generate_time_state,
					a.begin_time,
					a.phone_number,
					c.first_owner,
					c.pfx_total,
					b.reowner,
					b.pfx_total as fujian_total,
					a.grade_name,
					a.call_number,
					a.record_length,
					a.ddh,
					a.score_state,
					a.data_state
				FROM
					(
						SU_QC_SOURCE_RECORD_DATA a
						LEFT JOIN T_GRADE_DETAIL_NEW c ON a.file_name = c.file_name
					)
				LEFT JOIN T_GRADE_DETAIL_FUJIAN_NEW b ON a.file_name = b.file_name
 WHERE  data_state != #{ling} AND data_state!=#{chujianweifenpei} AND data_state!=#{fujianweifenpei} AND is_mp3=#{is_mp3} AND score_state!=#{ling} AND  data_state!=#{chujianweifenpei}
			<include refid="yuyinpingfenchaxun_selectID"/>	
	</select>

			
	<select id="yuyinpingfenchaxun_select" resultType="java.util.HashMap" parameterType="map">
		select * from 	SU_QC_SOURCE_RECORD_DATA WHERE is_mp3=#{is_mp3}
		<include refid="yuyinpingfenchaxun_selectID"/>			 
	</select>
	<sql id="yuyinpingfenchaxun_selectID">
		<if test="record_length_min != null and record_length_min != ''"> AND <![CDATA[ record_length >= #{record_length_min}]]></if>
		<if test="record_length_max != null and record_length_max != ''"> AND <![CDATA[  record_length <= #{record_length_max}]]></if>
		<if test="begin_time_devoir_DFTB != null and begin_time_devoir_DFTB != ''"> AND <![CDATA[ begin_time_devoir >= #{begin_time_devoir_DFTB}]]></if>
		<if test="begin_time_devoir_DFTE != null and begin_time_devoir_DFTE != ''"> AND <![CDATA[ begin_time_devoir <= #{begin_time_devoir_DFTE}]]></if>
		<if test="begin_time_DFTB != null and begin_time_DFTB != ''"> AND <![CDATA[  begin_time >= #{begin_time_DFTB}]]></if>
		<if test="begin_time_DFTE != null and begin_time_DFTE != ''"> AND <![CDATA[  begin_time <= #{begin_time_DFTE}]]></if>
		<if test="generate_time_state != null and generate_time_state != ''"> AND <![CDATA[ generate_time_state >= #{generate_time_state}]]></if>
		<if test="score_state !=null and score_state != ''"> AND score_state like concat(#{score_state},'%')</if>
		<if test="data_state !=null and data_state != ''"> AND data_state like concat(#{data_state},'%')</if>
		<if test="alias1 != null and alias1 != ''"> AND alias1 like concat(#{alias1},'%')</if>
		<if test="is_mp3 != null and is_mp3 != ''"> AND is_mp3 like concat(#{is_mp3},'%')</if>
		<if test="business_type != null and business_type != ''"> AND business_type like concat(#{business_type},'%')</if>
		<if test="phone_number != null and phone_number != ''"> AND phone_number like concat(#{phone_number},'%')</if>
		<if test="caller_number != null and caller_number != ''"> AND caller_number like concat(#{caller_number},'%')</if>
		<if test="call_number != null and call_number != ''"> AND call_number like concat(#{call_number},'%')</if>
		<if test="alias2 != null and alias2 != ''"> AND alias2 like concat(#{alias2},'%')</if>
		<if test="text_length != null and text_length != ''"> AND text_length like concat(#{text_length},'%')</if>
		<if test="client_name != null and client_name != ''"> AND client_name like concat(#{client_name},'%')</if>
		<if test="client_satisfy != null and client_satisfy != ''"> AND client_satisfy like concat(#{client_satisfy},'%')</if>
		<if test="ip_adresse != null and ip_adresse != ''"> AND ip_adresse like concat(#{ip_adresse},'%')</if>
		<if test="repeter_numero != null and repeter_numero != ''"> AND repeter_numero like concat(#{repeter_numero},'%')</if>
		<if test="owner != null and owner != ''"> AND owner like concat(#{owner},'%')</if>
		<if test="file_name != null and file_name != ''"> AND file_name like concat(#{file_name},'%')</if>
		<if test="grade_name != null and grade_name != ''"> AND grade_name like concat(#{grade_name},'%')</if>
		<if test="pfx_total != null and pfx_total != ''"> AND pfx_total like concat(#{pfx_total},'%')</if>
		<if test="quartier != null and quartier != ''"> AND quartier like concat(#{quartier},'%')</if>
	</sql>
	
	
	
	
	
	<!-- 修改SU_QC_SOURCE_RECORD_DATA状态score_state -->
	<update id="yuyinpingfenchaxun_update"  parameterType="java.util.HashMap">
		update  SU_QC_SOURCE_RECORD_DATA set score_state=#{score_state},data_state=#{data_state}  

where id=#{id}
	</update>
	
	<!--插入上诉表sql -->
	<insert id="yuyinpingfenchaxun_shangsu_insert" parameterType="java.util.HashMap">
		insert into SA_AGENT_ARGUMENT
		(
		<if test="grade_id!=null and grade_id!=''">
			grade_id
		</if>
		<if test="owner!=null and owner!=''">
			,owner
		</if>
		<if test="agent_user!=null and agent_user!=''">
			,agent_user
		</if>
		<if test="agent_user_dt==null and agent_user_dt==''">
			,agent_user_dt
		</if>
		<if test="agent_user_remark!=null and agent_user_remark!=''">
			,agent_user_remark
		</if>
		<if test="grade_remark_fj!=null and grade_remark_fj!=''">
			,grade_remark_fj
		</if>
		<if test="admin_remark!=null and admin_remark!=''">
			,admin_remark
		</if>
		<if test="work_state!=null and work_state!=''">
			,work_state
		</if>
		<if test="score_state!=null and score_state!=''">
			,score_state
		</if>
		<if test="update_time!=null and update_time!=''">
			,update_time
		</if>
		<if test="update_role!=null and update_role!=''">
			,update_role
		</if>
		<if test="update_content!=null and update_content!=''">
			,update_content
		</if>
		<if test="file_name!=null and file_name!=''">
			,file_name
		</if>
		) values
		(<if test="grade_id!=null and grade_id!=''">
			#{grade_id}
		</if>
		<if test="owner!=null and owner!=''">
			,#{owner}
		</if>
		<if test="agent_user!=null and agent_user!=''">
			,#{agent_user}
		</if>
		<if test="agent_user_dt==null and agent_user_dt==''">
			,now()
		</if>
		<if test="agent_user_remark!=null and agent_user_remark!=''">
			,#{agent_user_remark}
		</if>
		<if test="grade_remark_fj!=null and grade_remark_fj!=''">
			,#{grade_remark_fj}
		</if>
		<if test="admin_remark!=null and admin_remark!=''">
			,#{admin_remark}
		</if>
		<if test="work_state!=null and work_state!=''">
			,#{work_state}
		</if>
		<if test="score_state!=null and score_state!=''">
			,#{score_state}
		</if>
		<if test="update_time!=null and update_time!=''">
			,#{update_time}
		</if>
		<if test="update_role!=null and update_role!=''">
			,#{update_role}
		</if>
		<if test="update_content!=null and update_content!=''">
			,#{update_content}
		</if>
		<if test="file_name!=null and file_name!=''">
			,#{file_name}
		</if>
		)
	</insert>
	
	
	
</mapper>