<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>商品评价</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
			name="viewport">
			
	<meta name="format-detection" content="telephone=no" />
	
   <%- cssAJsPosStartTpl %>	
   
   <link rel="stylesheet" href="/ZingMH/css/appCss/shopping/shopUtils.css?v=9999.9999">
  
  </head>
  
  <body>
    <div class="container">
	    <div class="row">
		    <div style="background-color:#f5f5f5;border-bottom:1px solid #afafae;" id="industry-list">
				 <header id="common_hd" class="head_rel">
				       <span onclick="javascript:window.location.href='/SRender?jsLoader=shopping%2FuserCenterLoader&tpl=shopping%2FuserCenter&v=9999.9999'"><i class="fa fa-chevron-left fa-lg"></i></span>
				       <span class="hd_tle">商品评价</span>
				  </header>
			</div>
			
			<div style="margin-bottom: 50px;"> 
				<ul class="list-group" id="assessData">
					<!-- 
					<li class="list-group-item">
						<div class="row">		
							<div class="col-xs-3 col-md-1 col-sm-3">
								<a data-rel="colorbox" class="cboxElement">	
								<span class="label-holder" style="top: -5px;margin-left:45px;position: absolute;"></span>
								<img width="60" height="60" alt="50x50" src="/checkJpg/company/10001/company1221/18755260100001.jpg">
								</a>		
							</div>		
							<div class="col-xs-9 col-md-11 col-sm-9">			
								<div class="rating inline" style="cursor: pointer;"></div> 
							</div>
							<div class="col-xs-12 col-md-12 col-sm-12">
								<textarea rows="3" cols="" class="form-control" id="assessContent"
										style="font-size: 16px;margin-top:5px;" name="assessContent" placeholder="请输入评价内容"></textarea>
							</div>
							<div class="col-xs-12 col-md-12 col-sm-12" id="imgArr">
								<div class="backImg" style=" margin: 10px 0 0 0;"> 		
									<img style="width:80px;height:80px;" id="img1" class="img-style" onclick="uploadImg(this.id);">    
									<button type="button" class="img-del" onclick="delImg(1)"><span>&times;</span>
									</button>     
								</div>
							</div>
						</div>
					</li>
					 -->
				</ul>
			</div>
			<div style="position: fixed;bottom:0px;display:inline;width:100%;">
				<div id="submit" onclick="submitData();" style="height:40px;background:red;text-align:center;">
					<p style="padding-top:10px;color:white;">提交</p>
				</div>
			</div>
		</div>
	</div>	
    
     <%- cssAJsPosEndTpl %>	
     <script src="/JsLib/dist/component/ace/ace1.3.4/dist/js/jquery.raty.min.js?v=9999.9999"></script>
     
     
     <script>
     	// 图片
		var imgArray = new Array();
		var imgCount = 0;
		var divId = null;
		var imgId = null;
		var dataIds = "";
		var photoSubstring = "/checkJpg";  
    	var mhUserVars = null;
    	//初始化页面
    	$(function(){
    		
    		mhUserVars=<%- JSON.stringify(mhUserVars) %>;
    		//console.log(mhUserVars);
     		if(mhUserVars.data.data.length > 0){
	     		loadHtml(mhUserVars.data.data);
     		}
     		
    		$('.rating').raty({
				//'half': true,
				'starType' : 'i'
			});	
     		
     	});	
     	
     	
     	//提交数据
     	function submitData(){
     		var submitValue="";
     		
     		var arrData = new Array();
     		
     		var arr = dataIds.split(",");
     		for(var i =0;i<arr.length;i++){
     			
     			//图片信息
     			var imgs = "";
     			var imgsLength = $("#imgs"+arr[i])[0].children.length;
     			for(var j =0; j < imgsLength;j++){
     				if(!Z_IsEmpty20($("#imgs"+arr[i])[0].children[j].children[0].src)){
     					var imgSrc =  $("#imgs"+arr[i])[0].children[j].children[0].src;
     					imgSrc = imgSrc.substring(imgSrc.indexOf(photoSubstring));
						imgs += imgSrc+",";   				
     				}
     			}
     			if(!Z_IsEmpty20(imgs)){
	     			imgs = imgs.substr(0,imgs.length-1);
     			}
     			
     			var assessScore = $(".score"+arr[i]+">input")[0].value;
     			//评分信息
     			var assessContent = $("#assessContent"+arr[i]).val();
     			
     			if(Z_IsEmpty20(assessScore)){
     				openB3AjaxAlertDialog("您好，请选择评分","提示",true);
     				return;
     			}
     			
     			if(Z_IsEmpty20(assessContent)){
     				openB3AjaxAlertDialog("您好,评论不能为空","提示",true);
     				return;
     			}
     			
     			
     			var goodId = $("#assess"+arr[i]).val();
     			//console.log(goodId);
     			
     			submitValue = goodId + "-" + assessScore + "-" + assessContent + "-" + imgs +"-0";
     			arrData.push(submitValue);
     			
     		}
     	
     		var params ={
     			arrData:arrData
     		}
     		
     		/*
     		console.log(params);
     		return;*/
     		
     		var url = MH_PATH+"/Shopping/assess/insertAssess.action";
			ajaxFunction(url, params, true, function(data){
				if(data.retcode == 0){
					window.location.href="/SRender?jsLoader=shopping%2FuserCenterLoader&tpl=shopping%2FuserCenter&v=9999.9999";
				}
			});
     	
     	}
     	
     	// 加载微信上传图片环境
		function initImgUpload() {
			try {
				if (is_weixin()) {
					initJSSDK([ 
						'checkJsApi', 
						'chooseImage',
						'onMenuShareAppMessage', 
						'onMenuShareTimeline',
						'uploadImage' 
					], function(){
				        $(document).on("EVENT_UP_LOAD_IMG_OK",function(evt,varMap){
				    		$("#"+imgId).attr("src","/checkJpg/"+varMap.fileName+"?_t="+new Date().getTime());
				            createImgDiv(divId); // 增加一个图片空白区域
				        });
				    	$(document).on("EVENT_UP_LOAD_IMG_FAILED",function(){
				    		/*上传失败本身有提示，所以这里只要做类似释放资源，结束等待一类的工作即可*/
				    		openB3AjaxAlertDialog("EVENT_UP_LOAD_IMG_FAILED","提示",true);
				    	});
							
					});
				}
			} catch (e) {
				openB3AjaxAlertDialog("操作失败", "提示", true);
			}
		}
	
		// 微信上传图片，如果环境加载失败，走普通上传
		function uploadImg(id,_imgId){
			if(isJsApiOk == "true"){
				imgId = id;
				divId = _imgId;
	            var paramTmp={};
	            paramTmp.bId="id";
	            paramTmp.bType="Good";
	            paramTmp.companyId="company1201";
	            startuploadImg(paramTmp);
	            return;
	        }else{
				upImage(id,_imgId);	        
	        }
		}
     	
     	//上传图片  PC——端上传 start
		function upImage(id,_imgId){
			var url = MH_PATH + "/UploadFile/uploadImg.action";
			imgId = id;
			divId = _imgId;
			pcUploadImg("setImg","",{actionPath : url});
		}
			
		function setImg(data){
			$("#"+imgId).attr("src",data[0]['relativePath']);
			createImgDiv(divId); // 上传成功后，创建一个新的图片框
		}
			//上传图片  PC——端上传 end
			
		function createImgDiv(imgId){
			imgCount++ ; //计算图片总数
			imgArray.push(imgCount);
			var htmlStr = " <div class='backImg' style=' margin: 10px 10px 0 0;' > " +
					      "		<img style='width:60px;height:60px;'   id='img"+imgCount+"' class='img-style' onclick='uploadImg(this.id,"+imgId+");'> "+   
					      "     <button type='button' class=img-del onclick='delImg("+imgCount+","+imgId+")'><span>&times;</span></button>" +
					      " </div>";
			$("#imgs"+imgId).append(htmlStr);
		}
     	
     	
     	/*
		* 删除图片
		* imgId:imgId, _imgId :
		*/
		function delImg(imgId,_divId){
			
			// 没上传图片的格子不允许删除；
			if(Z_IsEmpty20($("#img"+imgId)[0].src)){
				return;
			}
			
			var imgLength = $("#imgs"+_divId)[0].children.length;
			
			// 当只剩一张图片时不删除图片元素
			if(imgLength != 1){
				var index =getArrayIndex(imgArray,imgId);
				if(!Z_IsEmpty20(index)){
					imgArray.splice(index, 1);
				}
				$("#img"+imgId).parent().remove();
			}
			
		}
     	
     	function loadHtml(data){
     		var html ='';
     		for(var i = 0; i< data[0].goodsData.length; i++){
     			//提交时需要该Id 获取数据。
     			dataIds += data[0].goodsData[i].id;
     			if(data[0].goodsData.length  - 1 != i){
     				dataIds +=",";
     			}
     		
     			var imgSrc = data[0].goodsData[i].goodImg.split(",")[0];
     			
     			imgCount++ ; //计算图片总数
				imgArray.push(imgCount);
     		
	     		html += '<li class="list-group-item">'+
						'	<div class="row">		'+
						'		<input type="hidden" id="assess'+data[0].goodsData[i].id+'" value="'+data[0].goodsData[i].goodId+'">'+
						'		<div class="col-xs-3 col-md-1 col-sm-3">'+
						'			<a data-rel="colorbox" class="cboxElement">	'+
						'			<span class="label-holder" style="top: -5px;margin-left:45px;position: absolute;"></span>'+
						'			<img width="60" height="60" alt="60x60" src="'+imgSrc+'">'+
						'			</a>		'+
						'		</div>		'+
						'		<div class="col-xs-9 col-md-11 col-sm-9">			'+
						'			<div class="rating inline score'+data[0].goodsData[i].id+'" style="cursor: pointer;"></div> '+
						'		</div>'+
						'		<div class="col-xs-12 col-md-12 col-sm-12">'+
						'			<textarea rows="2" cols="" class="form-control" id="assessContent'+data[0].goodsData[i].id+'"'+
						'					style="font-size: 16px;margin-top:5px;" name="assessContent'+data[0].goodsData[i].id+'" placeholder="请输入评价内容"></textarea>'+
						'		</div>'+
						'		<div class="col-xs-12 col-md-12 col-sm-12" id="imgs'+data[0].goodsData[i].id+'">'+
						'			<div class="backImg" style=" margin: 10px 10px 0 0;"> 		'+
						'				<img style="width:60px;height:60px;" id="img'+imgCount+'" class="img-style" onclick="uploadImg(this.id,'+data[0].goodsData[i].id+');">    '+
						'				<button type="button" class="img-del" onclick="delImg('+imgCount+','+data[0].goodsData[i].id+')"><span>&times;</span>'+
						'				</button>     '+
						'			</div>'+
						'		</div>'+
						'	</div>'+
						'</li>';
     		
     		}
     		
     		$("#assessData").html(html);
     	
     	}
     	
     	
     	 //获取值在数据中的下标位置，arr = array , value = 要查询的值 
		function getArrayIndex(arr,value){
			for(var i in arr){
			  if(arr[i] == value){
			    return i;//i就是下标
			  }
			}
		}
     	
     	
     	
     </script>
  </body>
</html>
