<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>确认订单</title>
	<meta charset="utf-8">
   	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
   				 user-scalable=no"	name="viewport">
    
	<%- cssAJsPosStartTpl %>	   
	<link rel="stylesheet" href="/ZingMH/css/appCss/shopping/shopUtils.css?v=9999.9999">
	
   <style>
		a{
			color:black !important;
		}
		.list-group-item{
			padding:5px 5px !important;
		}
		p{
			margin: 0 0 0px !important;
		}
		h5{
			font-size:12px !important;
		}
		.price-color{
			color:red !important;
		}
		.btn-submit-order{
		    width: 100% !important;
    		margin-bottom: 0px !important; 
    		background-color:red !important;
    		border-color:white !important;
			
		}
		.div-bottom-fixed{
			position: fixed;
    		width: 100%;
    		bottom: 0px;
		}
		.li-margin-top{
			margin-top: 5px !important;
		}
		
	</style>

  </head>
  
  <body>
  <div class="container">
    <div class="row">
	    <div style="background-color:#f5f5f5;border-bottom:1px solid #afafae;" id="industry-list">
			 <header id="common_hd" class="head_rel">
			       <span onclick="javascript:history.go(-1);"><i class="fa fa-chevron-left fa-lg"></i></span>
			       <span class="hd_tle">确认订单</span>
			  </header>
		</div>
		
		<div>
			<!--  订单信息 -->
			<ul class="list-group" id="orderConfirm">
		 		<li class="list-group-item"  onclick='loadAddress();'>
		 			<!-- 地址信息 -->
					<div class="row">
			            <div class="col-xs-10 col-md-10" id="addressData">
			             <!-- 
			              <p><span>收货人：裴俊</span><span class="pull-right"><a href="#">18910547616</a></span></p>
			              <p>收货地址:北京市海淀区上地七街国际创业园</p>
			              --> 
			            </div>
			            <div class="col-xs-2 col-md-2">
			              	<span class="pull-right" style="margin-top: 10px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
			            </div>
			        </div>
	       		</li>
		  	</ul>	
		</div>
		
		
		<!--  底部结算 -->
		<div class="div-bottom-fixed">
			<div class="row" style="background-color: white;">
				<div class="col-xs-8 col-sm-8 col-md-8" style="padding-right: 0px;">
					<span class="pull-right" style="font-size:14px;line-height:3;">
						共<span id="totalCount"></span>件，总金额:
							<span class="price-color">&yen;<span id="totalPrice"></span>
						</span>
					</span>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4">
					<button class="btn btn-submit-order" onclick="payForOrder();">提交订单</button>
				</div>
			</div>	
		</div>
		<!--  -->
    </div>
  </div>
  
   <%- cssAJsPosEndTpl %>	
    
    <script>
    	//加载数据时拼好数据格式，提交时直接读取数据
    	// {订单状态-支付金额-订单Id,订单状态-支付金额-订单Id}
    	var dataArr = new Array();
    	var addressData = null; // 存放地址信息
    	var mhUserVars = null;
    	//初始化页面
    	function init(){
    		mhUserVars=<%- JSON.stringify(mhUserVars) %>;
    		loadWaitForPay(mhUserVars.data);
		}    	
    	
    	/*
    	付款方法 目前未接任何支付接口，暂时直接提交成功，变更状态，已付款
    	*/
    	function payForOrder(){
    		
    		// 确认支付之前，后台验证该订单金额，先略过
    		var params = {};
    	
    		params.orderData = dataArr.join(",");
    		params.addressId= addressData[0].id; 
    		
    		/*console.log(params);*/
    		/*params.orderStatus = "02"; //已付款，*/
    		//return;
    		var url = "/ZingMH/ZDesk/Shopping/orderManager/payOrder.action"; 
			ajaxFunction(url, params, true, function(data){
				if(data.retcode == 0){
					// 订单提交成功后跳转个人中心
					openB3AjaxAlertDialog("订单已提交","提示",true);
					window.location.href="/SRender?jsLoader=shopping%2ForderManagerLoader&tpl=shopping%2ForderInfo&orderStatus=02";
				}
			});
    	
    	}
    	
    	//跳转地址管理
    	function loadAddress(){
    		window.location.href="/SRender?jsLoader=shopping%2FaddressManagerLoader&tpl=shopping%2FaddressManager&isChange=true&v=9999.9999";
    	}
    	
    	// 加载订单
    	function loadWaitForPay(data){
    	
    		// 加载地址信息
    		addressData = data.data[0].addressData;
    		
    		if(!Z_IsEmpty20(addressData[0])){
	    		var addressHtml = '<p>'+
	    						  '	<span>收货人：'+addressData[0].consigneeName+'</span>'+
	    						  ' <span class="pull-right"><a href="tel://'+addressData[0].consigneePhone+'">'+addressData[0].consigneePhone+'</a></span></p>'+
				              	  '	<p>收货地址:'+
				              	  		addressData[0].area.split("-")[0]+
				              	  		addressData[0].area.split("-")[1]+
				              	  		addressData[0].area.split("-")[2]+
				              	  		addressData[0].address
				              	  +'</p>';
	    		$("#addressData").html(addressHtml);
    		
    		}else{
	    		$("#addressData").html('<p style="text-align: center;font-size: 14px;">暂未获取到地址信息</p>');
    		}
    		
    	
    		var html="";	
    		
    		var totalPrice = 0; // 计算总价格
    		var totalCount = 0; // 计算商品数
    		
    		for(var i = 0; i < data.data.length; i++){
    		
    			var orderInfo = "02-"+data.data[i].orderAccount + "-"+data.data[i].orderId;
    		
    			dataArr.push(orderInfo);
    			
    			totalCount += data.data[i].goodsData.length;
    			totalPrice += parseFloat(data.data[i].orderAccount);
    			html += '<li class="list-group-item li-margin-top">'+
				  	    ' 	<div class="row">'+
					    '	   	<div class="col-xs-12 col-sm-12">'+
					    '			<h5><a href="javascript:void(0);" style="font-size: 15px;">'+
						'			 '+data.data[i].companyData.companyName +'	&nbsp;<i class="fa fa-chevron-right"></i>'+
						'				</a>'+
						'			</h5>'+
						'		</div>'+
						' 	</div>	'+
	    				'  <ul class="list-group" style="margin-bottom: 0px;" >'; 
	    				
	    				for(var j =0; j < data.data[i].goodsData.length; j++){
	    					var goodsData = data.data[i].goodsData[j];
	    					
	    					html += '	<li class="list-group-item" style="background-color: #F5F5F5;">'+
								    '		<div class="row">'+
									'	    	<div class="col-xs-12 col-sm-12 col-md-12">'+
									'	    		<div class="pull-right">'+
									'		    		<p class="text-right price-color">¥<span>'+goodsData.goodPrice+'</span></p>'+
									'		    		<p class="text-right">x'+goodsData.goodCount+'</p>'+
									'	    		</div>'+
									'	    	     <div class="pull-left" style="padding-right:8px;">'+
									'	    	     	<img class="li-img-width-height" src="'+goodsData.goodImg+'">'+
									'	    	     </div>'+
									'	    		 <h5 class="li-h5-char-split li-h5-char-split-margin">'+
										    		 		goodsData.goodTitle+ 
									'	    		 </h5>'+
									'	    		 <h5 class="li-h5-char-split">'+
																goodsData.goodProp+
									'	    		 </h5>'+
									'	    </div>'+
								    '	</li>';
	    				}
	    				
	    		html +=  '</ul>' +    
	    				 ' <div class="row">'+
						 '	   	<div class="col-xs-12 col-sm-12">'+
						 '			<h5 class="pull-right">共'+
						 		+data.data[i].goodsData.length+'件，总金额：<span class="price-color">&yen;'
						 		+data.data[i].orderAccount +
						 '			</span></h5>'+
						 '		</div>'+
						 ' </div>	'+
				  		 '</li>';
	    				
	    				
    		}
    		
    		$("#totalCount").html(totalCount); // 商品总数
    		$("#totalPrice").html(totalPrice.toFixed(2)); // 价钱总和
    		$("#orderConfirm").append(html);
    	}
    	
    </script>
  </body>
</html>
