<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="GoodsManagerSqlSession" class="com.zinglabs.base.core.springSupport.DbidSqlsession" singleton="false">
		<property name="dbid" value="ZKM"></property>
	</bean>
	<bean id="GoodsManagerServices" name="GoodsManagerServices" class="com.zinglabs.apps.goodsManager.GoodsManagerServices"></bean>
</beans>