<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="customTextTemplateSqlsession" class="com.zinglabs.base.core.springSupport.DbidSqlsession" singleton="false">
		<property name="namespance" value="com.zinglabs.apps.customText" ></property>
		<property name="dbid" value="ZKM"></property>
	</bean>
	<bean id="customTextService"  name="customTextService" class="com.zinglabs.apps.customTextTemplate.service.CustomTextService"></bean>
</beans>
